.editor__container {
  align-items: center;
  background: #6bd1ff;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  position: relative;
}

.dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: calc(100% - 3rem);
}

.dot {
  background: var(--branco);
  border-radius: 100%;
  display: block;
  height: 0.75rem;
  margin-left: 0.5rem;
  width: 0.75rem;
}

.dot--red {
  background-color: var(--mac-red);
}
.dot--yellow {
  background-color: var(--mac-yellow);
}
.dot--green {
  background-color: var(--mac-green);
}

.editor__code {
  background: var(--gray-300);
  border: 0;
  border-radius: calc(var(--border-radius) / 2);
  box-shadow: var(--box-shadow);
  color: var(--branco);
  font-family: var(--font-secundaria);
  font-size: 0.6875rem;
  font-weight: 400;
  max-height: 300px;
  width: 100%;
  height: 300px;
  padding: 3.5rem 0.75rem 0.75rem;
  resize: none;
  outline: none;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

code {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

.editor__code:focus {
  outline: 1px solid var(--blue-300);
}

.editor__code::-webkit-scrollbar-button {
  background: rgba(var(--blue-rgba-300), 0.1);
}

.editor__code::-webkit-scrollbar-thumb {
  background: rgba(var(--blue-rgba-200), 0.3);
}

.editor__code::-webkit-scrollbar {
  background: var(--blue-400);
}
