.editor__container{
    align-items: center;
    background: #6bd1ff;
    border-radius: calc(var(--border-radius) / 2);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    position: relative;
}

.dots{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: calc(100% - 3rem);
}

.dot{
    background: var(--branco);
    border-radius: 100%;
    display: block;
    height: .75rem;
    margin-left: .5rem;
    width: .75rem;
}

.dot--red{
    background-color: var(--mac-red);
}
.dot--yellow{
    background-color: var(--mac-yellow);
}
.dot--green{
    background-color: var(--mac-green);
}


.editor__code{
    background: var(--gray-300);
    border: 0;
    border-radius: calc(var(--border-radius)/2);
    box-shadow: var(--box-shadow);
    color: var(--branco);
    font-family: var(--font-secundaria);
    font-size: .6875rem;
    font-weight: 400;
    max-height: 300px;
    width: 100%;
    height: 300px;
    padding: 3.5rem .75rem .75rem;
    resize: none;
    outline: none;
}

.editor__code:focus{
   outline: 1px solid var(--blue-300);
}

.editor__code::-webkit-scrollbar-button{
    background: rgba(var(--blue-rgba-300), .1);
}

.editor__code::-webkit-scrollbar-thumb{
    background: rgba(var(--blue-rgba-200), .3);
}

.editor__code::-webkit-scrollbar{
    background: var(--blue-400);
}