.is--hide {
  display: none;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 768px) {
    .container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
