* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    background: none;
    border: 0;
}